<%= form_with(model: watch_brand, class: "contents") do |form| %>
  <% if watch_brand.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(watch_brand.errors.count, "error") %> prohibited this watch_brand from being saved:</h2>

      <ul class="list-disc ml-6">
        <% watch_brand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": watch_brand.errors[:name].none?, "border-red-400 focus:outline-red-600": watch_brand.errors[:name].any?}] %>
  </div>

  <div class="my-5 flex items-end space-x-5">
    <div>
      <%= form.label :country %>
      <%= form.text_field :country, placeholder: "not set", readonly: true, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": watch_brand.errors[:country].none?, "border-red-400 focus:outline-red-600": watch_brand.errors[:country].any?}] %>
    </div>
    <button type="button" onclick="country_picker.showModal()" class="btn">Change</button>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-cta" %>
  </div>
<% end %>

<%= tag.dialog id: "country_picker", class: "modal", data: { controller: "country-picker", country_picker_form_field_id_value: "watch_brand_country" } do %>
  <div class="modal-box">

    <fieldset class="grid grid-cols-3">
      <% country_options.each_with_index do | option, index| %>
        <div>
          <%= tag.input type: "radio", name: "country", id: "country_option_#{index}", value: option[:name], checked: watch_brand.country == option[:name], data: { action: "change->country-picker#setFormField" } %>
          <%= tag.label option[:name], for: "country_option_#{index}" %>
        </div>
      <% end %>
    </fieldset>

    <form method="dialog" class="modal-action">
      <!-- if there is a button in form, it will close the modal -->
      <button class="btn">Close</button>
    </form>
  </div>
<% end %>
