<% content_for :title, "Brands" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Brands</h1>
    <%= link_to "New brand", new_watch_brand_path, class: "btn-cta" %>
  </div>

  <div id="watch_brands" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @watch_brands.any? %>
      <% @watch_brands.each do |watch_brand| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render watch_brand %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Show", watch_brand, class: "btn" %>
            <%= link_to "Edit", edit_watch_brand_path(watch_brand), class: "btn" %>
            <%= button_to "Destroy", watch_brand, method: :delete, class: "btn-danger", data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No brands found.</p>
    <% end %>
  </div>

  <%= render "form", watch_brand: @watch_brand, country_options: @country_options || [] %>

  <%= form_with url: watch_brands_path, method: :get, data: { turbo_frame: "_top", turbo_action: :replace } do |f| %>
    <%= f.hidden_field :country, value: params[:country], id: "search_country" %>

    <div class="country-buttons">
      <% countries = [
        "Switzerland", "Germany", "Japan", "United States", "France",
        "Italy", "United Kingdom", "Sweden", "Finland", "Denmark", "Norway"
      ] %>

      <% countries.each do |c| %>
        <% selected = params[:country] == c %>
        <button
          type="submit"
          name="country"
          value="<%= c %>"
          class="country-btn <%= 'selected' if selected %>">
          <%= c %>
        </button>
      <% end %>
    </div>
  <% end %>


</div>
