<% content_for :title, "Brands" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Brands</h1>
    <%= link_to "New brand", new_watch_brand_path, class: "btn-cta" %>
  </div>

  <div id="watch_brands" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @watch_brands.any? %>
      <% @watch_brands.each do |watch_brand| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render watch_brand %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Show", watch_brand, class: "btn" %>
            <%= link_to "Edit", edit_watch_brand_path(watch_brand), class: "btn" %>
            <%= button_to "Destroy", watch_brand, method: :delete, class: "btn-danger", data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No brands found.</p>
    <% end %>
  </div>

  <div class="join flex-wrap mt-6 mb-12">
    <%= link_to "All Countries", watch_brands_path, class: "btn btn-sm join-item #{params[:country].blank? ? 'btn-primary' : 'btn'}" %>
    <%= link_to "Switzerland", watch_brands_path(country: "Switzerland"), class: "btn btn-sm join-item #{params[:country] == 'Switzerland' ? 'btn-primary' : 'btn'}" %>
    <%= link_to "Germany", watch_brands_path(country: "Germany"), class: "btn btn-sm join-item #{params[:country] == 'Germany' ? 'btn-primary' : 'btn'}" %>
    <%= link_to "Japan", watch_brands_path(country: "Japan"), class: "btn btn-sm join-item #{params[:country] == 'Japan' ? 'btn-primary' : 'btn'}" %>
    <%= link_to "United States", watch_brands_path(country: "United States"), class: "btn btn-sm join-item #{params[:country] == 'United States' ? 'btn-primary' : 'btn'}" %>
    <%= link_to "France", watch_brands_path(country: "France"), class: "btn btn-sm join-item #{params[:country] == 'France' ? 'btn-primary' : 'btn'}" %>
    <%= link_to "Italy", watch_brands_path(country: "Italy"), class: "btn btn-sm join-item #{params[:country] == 'Italy' ? 'btn-primary' : 'btn'}" %>
    <%= link_to "United Kingdom", watch_brands_path(country: "United Kingdom"), class: "btn btn-sm join-item #{params[:country] == 'United Kingdom' ? 'btn-primary' : 'btn'}" %>
    <%= link_to "Sweden", watch_brands_path(country: "Sweden"), class: "btn btn-sm join-item #{params[:country] == 'Sweden' ? 'btn-primary' : 'btn'}" %>
    <%= link_to "Finland", watch_brands_path(country: "Finland"), class: "btn btn-sm join-item #{params[:country] == 'Finland' ? 'btn-primary' : 'btn'}" %>
    <%= link_to "Denmark", watch_brands_path(country: "Denmark"), class: "btn btn-sm join-item #{params[:country] == 'Denmark' ? 'btn-primary' : 'btn'}" %>
    <%= link_to "Norway", watch_brands_path(country: "Norway"), class: "btn btn-sm join-item #{params[:country] == 'Norway' ? 'btn-primary' : 'btn'}" %>
  </div>
</div>
