<% content_for :title, "Showing brand" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing brand</h1>

  <%= render @watch_brand %>

  <%= link_to "Edit this brand", edit_watch_brand_path(@watch_brand), class: "btn" %>
  <%= link_to "Back to brands", watch_brands_path, class: "btn" %>
  <%= button_to "Destroy this brand", @watch_brand, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "btn-danger", data: { turbo_confirm: "Are you sure?" } %>
</div>
