<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Watches Watcher" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Watches Watcher">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flex p-2 bg-gray-100 fixed top-0 left-0 right-0 z-50 justify-between">
      <div class="flex space-x-2">
        <%= link_to "Jobs", mission_control_jobs_path, target: "blank", class: "rounded pointer p-1 hover:underline" %>
      </div>
      <% if ENV.fetch("WAWA_SHOW_ENVIRONMENT", true) %>
        <div class="px-2 py-1 rounded bg-gray-800 text-white text-xs flex items-center">
          <%= Rails.env.upcase %>
        </div>
      <% end %>
    </div>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
